# General configuration
SEMAWI_VERSION=YYYY.N
SEMAWI_WGSERVER=http://localhost
SEMAWI_SITENAME=SeMaWi
SEMAWI_WGUPGRADEKEY=secret-upgrade-key
SEMAWI_WGSECRETKEY=secret-secret-key
SEMAWI_MAXFILESIZE=50M
SEMAWI_LOGO=logo.png
SEMAWI_PHP_MEM_LIMIT=512M

# Dependency versions
SEMAWI_MW_MINOR_VERSION=31
SEMAWI_MW_PATCH_VERSION=6
SEMAWI_SMW_VERSION=3.0.2
SEMAWI_SRF_VERSION=3.1.0
SEMAWI_SFS_VERSION=3.0.0
SEMAWI_MYSQL_VERSION=5.7
SEMAWI_DEBIAN_VERSION=10.2
SEMAWI_ALPINE_VERSION=3.11
SEMAWI_PYTHON_VERSION=3.7

# GC2 fetcher configuration
# You will need to set the following 4 configs or this sync script won't work.
# A bot account on the target SMW instance
SEMAWI_GC2_BOT_USER=Sitebot
SEMAWI_GC2_BOT_PASS=SitebotSitebot
# mwclient.Site takes two parameters. The first is the URL to your SMW instance.
# It will look something like "mywiki.example.org"
# the path parameter is the path to api.php
SEMAWI_GC2_MW_SITE=semawi-mediawiki
SEMAWI_GC2_MW_PATH=/
SEMAWI_GC2_MW_SCHEME=http
# gc2_url is the URL to the GC2 v1 API. It will look usually something like:
# http://CLIENTNAME.mapcentia.com/api/v1/metadata/CLIENTNAME/
SEMAWI_GC2_URL=http://CLIENTNAME.mapcentia.com/api/v1/metadata/CLIENTNAME/
